/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Medium devices */
@media only screen and (max-width: 767px) {
    #main {
        height: fit-content;
    }

    #homeText {
        margin-top: 7rem;
    }

    #homeSlider {
        margin-top: 3rem;
    }

    #profileImgContainer {
        padding: 3rem;
    }

    #profileInfo {
        padding: 0;
        padding-left: 0;
    }

    .noteCard {
        width: 100% !important;
    }

    #loginContainer {
        width: 100%;
    }

    #registerContainer {
        width: 100%;
    }
}